<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vue Introduction</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="name" />
      Hello {{ name }}
      <ul style="list-style: none;">
        <li v-for="product in data" :key="data.id">
          <button @click="add(product)">+</button>
          <button @click="minus(product)">-</button>
          {{ product.product }} is {{ product.number }}
          <div>-----------------------</div>
        </li>
      </ul>
      <h1>The summary of product is:{{ sum }}</h1>
    </div>
    <script>
      var vue = new Vue({
        el: "#app",
        data: {
          name: "reza",
          data: [
            { id: 1, number: 10, product: "car" },
            { id: 2, number: 0, product: "bottle" },
            { id: 3, number: 30, product: "laptop" }
          ]
        },
        methods: {
          add(product) {
            product.number++;
          },
          minus(product) {
            product.number--;
          }
        },
        computed: {
          sum() {
            return 20;
          }
        }
      });
    </script>
  </body>
</html>
